extends layout

block content
    main(role='main')
      section.jumbotron.text-center
        .container
          h1.jumbotron-heading J'❤ le vinyle !
          if products.length > 2
            p.text-muted=`C'est dingue, on a ${products.length} références en stock !`    
          p.lead.text-muted
            | Toutes les semaines, J'aime le vinyle se penche sur une réédition vinyle remarquable et sélectionne une dizaine d'albums hautement recommandables à mettre sur ses platines.
          p
            a.btn.btn-primary.my-2(href='#') Main call to action
            a.btn.btn-secondary.my-2(href='#') Secondary action
      .album.py-5.bg-light
        .container
            .row
                each product in products
                    .col-md-4
                        .card.mb-4.box-shadow
                            img.card-img-top(src=`${product.image}`, alt='Card image cap')
                            .card-body
                                p.card-text=product.title
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                        button.btn.btn-sm.btn-outline-secondary(type='button') Voir le detail
                                        button.btn.btn-sm.btn-outline-secondary(type='button') Acheter vite !
                                    small.text-muted=product.score
                        
            








    
