extends layout

block content
    section.jumbotron.text-center
        .container
            p.lead.text-muted
            ul
                li Le Cartel: - ".... Tu es ..... Heisenberg !!!"
                li Walter White: - "Et comment que c'est moi ! "
            img(src="https://media.giphy.com/media/3oFzmkkwfOGlzZ0gxi/giphy.gif")
        br
        hr
        a(href="/catalogues/voir", title="Catalogue") Clique ici pour voir le catalogue


        br
        br
        hr
        br
        h5 je me suis concentré sur le model MVC qui me semble plus un point faible que l'algo (vive codewars)
        img(src="https://media.giphy.com/media/RFDXes97gboYg/giphy.gif")