doctype html
html
  head
    title= "BackOffice Example"
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.12/css/all.css")
    block css
      link(rel="stylesheet", href="/stylesheets/main.css")
  body
    include partial/header.pug

    div.container
      div#content
        block content
      include partial/footer.pug
    block  javascripts
      script(src="https://code.jquery.com/jquery-3.3.1.min.js")
