extends ../layout

block content
    h2 Modification d'un produit:
    form.form-group(method="POST", action=`/produits/save/${produit.id}`, enctype="multipart/form-data")
        .form-group
            label(for='reference') Ref
            input#reference.form-control(type='text', placeholder="la réf du produit type XX-BBBB-DD" name='reference')
        .form-group
            label(for='titre') Titre
            input#titre.form-control(type='text', placeholder="Le nom du produit ici" name="titre")
        .form-group
            label(for='note') Note : 
                select(id='liste' name='note')
                    option( value = "1") 1
                    option( value = "2") 2
                    option( value = "3") 3
                    option( value = "4") 4
                    option( value = "4") 5
        .form-group
            label(for='descriptif') Descriptif
            textarea#descriptif.form-control(type='text' name="descriptif" placeholder="Une courte description du produit")
        .form-group
            label(for='image') Images
            input#image.form-control(type='text', placeholder="ici l'URL de l'image" name="image")
            input(class="form-control-file", type="file", name="image", accept="image/*", capture="capture")
        .form-group
            label(for='prix') Prix
            input#prix.form-control(type='text', placeholder="ici le prix" name='prix')
        .form-group
            label(for='tva') TVA
            input#tva.form-control(type='text', placeholder="ici la TVA a appliquer"  name='TVA')
        .form-check
            label.radio-inline
            input(type='radio', name='enVente' value='1')
            | En vente
            label.radio-inline
            input(type='radio', name='enVente' value='0')
            | Hors Vente
        button(type="submit", class="btn btn-success") Créer le produit
    