extends ../layout

block content
    h1="Creer un nouvel article"
    .container
        img(src="https://media.giphy.com/media/12NUbkX6p4xOO4/giphy.gif" alt="Magic")
        
    
    form(method="POST", action="/catalogues/enregistrer", enctype="multipart/form-data")
        .form-row
            .form-group.col-md-6
            label Reference
            input#inputEmail4.form-control(type='text',name="reference",required="required", placeholder='AA-XXXX-BB')
            .form-group.col-md-6
            label Titre
            input#inputAddress2.form-control(type='text',name="titre",required="required", placeholder="Titre de champion de France")
        
        .form-group
            label Description
            textarea#exampleFormControlTextarea1.form-control(name="descriptif",rows='3')
        
        .input-group
                .input-group-prepend
                    label.input-group-text Notes
                select#inputGroupSelect01(name="note").custom-select
                    option(selected='') de 1 à 5
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
            
        .form-row
            .form-group.col-md-6
            label Quantite
            input#inputAddress2.form-control(type='text',name="titre",required="required", placeholder="De l'infini ... à au-delà")
            .form-group.col-md-4
            label Prix
            input#inputAddress2.form-control(type='text',name="titre",required="required", placeholder="Rajoute un zéro")
            .form-group.col-md-2
            label TVA
            input#inputAddress2.form-control(type='text',name="titre",required="required", placeholder="TVA bien ?")
        .form-group
            .form-check
            input#gridCheck.form-check-input(type='checkbox', name="enVente")
            label.form-check-label
                | En vente
        button.btn.btn-primary(type='submit') Ajouter


