extends ../layout

block content
    .main.container
        .row
        h1.display-5 Entrer un nouveau produit
        form(method='POST' action='/products/createProduct')
            .form-group
                label(for='Reference') Reference :
                input.form-control(type='text', textarea='Ref' name='Reference')
            .form-group
                label(for='Titre') Titre :
                input.form-control(type='text',textarea='Titre' name='Titre')
            .form-group
                label(for='Note') Note :
            select#choosenote.form-control(name='Note')
                option(value= '1') 1
                option(value= '2') 2
                option(value= '3') 3
                option(value= '4') 4
                option(value= '5') 5
            .form-group
                label(for='Quantite') Quantité :
                input.form-control(type='number', textarea='Quantité', name='Quantite')
            .form-group
                label(for='Image') Image :
                input.form-control(type='url', textarea='image.png', name='Image')
            .form-group
                label(for='Descriptif') Descriptif :
                input.form-control(type='text', textarea='Descriptif',  name='Descriptif')
            .form-group
                label(for='Prix') Prix :
                input.form-control(type='number', textarea='Prix', name='Prix')
            .form-group
                label(for='TVA') Taux de TVA :
                input.form-control(type='float', textarea='TVA', name='TVA')
            .form-group
                label(for='En_vente') Disponible à la vente 
            .form-group
                input(type="radio", name="En_vente", value="1")
                | Disponible
                input(type="radio", name="En_vente", value="0")
                | Indisponible    
            button.btn.btn-primary(type='submit') Valider
        

